[Unit]
Description=MQTT Broker

[Service]
WorkingDirectory=/data/nd-iot-services
ExecStart=/usr/local/bin/npm run nd:edge:start
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
