[Unit]
Description=MQTT Broker

[Service]
WorkingDirectory=/data/nd-iot-mqtt-broker
ExecStart=/usr/local/bin/npm start
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
