[Unit]
Description=nd-iot-service-plf-bfy

[Service]
WorkingDirectory=/services/nd-iot-services
ExecStart=/usr/local/bin/npm run nd:platform:bfy:start
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
