[Unit]
Description=nd-iot-service-dio

[Service]
WorkingDirectory=/services/nd-iot-services
ExecStart=/usr/local/bin/npm run nd:dataio:start
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
