[Unit]
Description=nd-iot-service-dsp

[Service]
WorkingDirectory=/services/nd-iot-services
ExecStart=/usr/local/bin/npm run nd:dispatcher:start
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
